<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/madetech-frontend.css">
    <link rel="stylesheet" href="/assets/css/marketplace.css?c=<%= ENV['CACHE_BUST_VERSION'] %>">
  </head>

  <body>
    <main class="page-width">
      <div class="container-fluid">
        <img alt="Made Tech" class="float-right mt-3" itemprop="logo" src="/assets/images/made-tech-logo-colour.png" width="256px">
        <a href="https://airtable.com/invite/l?inviteId=invMZEgpg7pyh2KQ9&inviteToken=c691823ed9a8c0c32acda46ebdc4423db5cb0ebf0e000714950e818408143977">Add session</a>
        <% sessions.each_with_index do |(month, sessions_for_week)| %>
          <div class="row">
            <h1 class="month mt-2"><%= month %></h1>
          </div>
          <div class="row">
            <% sessions_for_week.each_with_index do |(key, sessions_on_day)| %>
              <div class="col-sm week">
                <h2 class="title"><%= Date.parse(key).strftime('%-d').to_i.ordinalize %></h2>
                <% sessions_on_day.each_with_index do |session| %>
                  <div class="session">
                    <h5 class="session-title"><%= session[:title] %><br />(<%= session[:start_time] %> - <%= session[:end_time] %>)</h5>
                    <div class="mb-2">
                      <span class="badge badge-pill badge-success"><%= session[:session_type] %></span>
                      <% session[:categories].each do |department| %>
                        <span class="badge badge-pill badge-primary"><%= department %></span>
                      <% end %>
                    </div>
                    <div></div>
                    <div >
                      <img class="face" src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(session[:host].downcase+"@madetech.com") %>" />
                      <%= session[:host] %> in <%= session[:location] %>
                    </div>
                  </div>
                <% end %>
                <% showcases[key].each do |showcase| %>
                  <div class="center showcases">
                    <%= showcase[:title] %><br />
                    <%= showcase[:host] %> @ <%= showcase[:start_time] %>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>

        <% end %> <!-- asd -->
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-none d-lg-block">
            © <span itemprop="copyrightYear">2019</span>
            <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">
              <span itemprop="name">Made Tech Limited.</span>
            </span>
          </div>
          <div class="col-7 col-lg-4 text-left text-lg-center">
            <a class="footer__logo" href="https://www.madetech.com" rel="home">
              <img src="/assets/images/made-tech-logo-wht.png" height="25" alt="Made Tech">
            </a>
          </div>
          <nav class="col-5 col-lg-4 text-right">
            <a class="footer__social_link" href="https://www.madetech.com/ext/linkedin">
              <img src="/assets/images/icons/linkedin.svg" alt="LinkedIn" height="25"/>
            </a>

            <a class="footer__social_link" href="https://www.madetech.com/ext/twitter">
              <img src="/assets/images/icons/twitter.svg" alt="Twitter" height="25"/>
            </a>

            <a class="footer__social_link" href="https://www.madetech.com/ext/github">
              <img src="/assets/images/icons/github.svg" alt="GitHub" height="25"/>
            </a>
          </nav>
        </div>
      </div>
    </footer>

    <script
                                                                      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                                                      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                                                                      crossorigin="anonymous"></script>
    <script src="/assets/js/madetech-frontend.js"></script>
  </body>
</html>
